.config {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;

    padding: 5px;
    box-sizing: border-box;
}

.config .config-key {
    flex: 0 0 25px;
    display: flex;
    padding: 3px;
}
.config .config-table {
    display: flex;
    flex: 1;
    min-height: 0;
    min-width: 0;
}


.config svg { color: #f4a261 }
