.just-top-menu-bar {
    -webkit-app-region: drag;

    flex: 0 0 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.82);
    border-bottom: 1px solid #1e1f22;
}
.just-top-menu-bar .just-title {
    font-size: 13px;
    min-width: 0;
    font-weight: normal;
    color: #85878b;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.just-top-menu-bar .just-menu-center {
    flex: 1;
}

.just-top-menu-bar .just-icon-system {
    flex: 0 0 40px;
    width: 50px;
    color: white;
}

.just-top-menu-bar .just-icon-system svg {
    width: 40px;
    height: 16px;
}


.just-app-icon {
    padding: 0 5px 0 5px;
    width: 24px;
    height: 24px;
}

.just-app-icon svg { width: 100%; height: 100%; }

