.output-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;

    padding: 5px;
    box-sizing: border-box;
}

.output-grid .output-grid-title {
    flex: 0 0 25px;
    display: flex;
    padding: 3px;
}
.output-grid .output-grid-title svg {
    color: #cf5300;
}

.output-grid .output-grid-table {
    flex: 1;
    display: flex;
    min-height: 0;
    min-width: 0;
}