.chart-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 0;

    padding: 5px;
    box-sizing: border-box;
}

.chart-view .chart-head {
    flex: 0 0 25px;
    display: flex;
    padding: 3px;
}

.chart-view .chart-container {
    display: flex;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.chart-view svg { color: #f4a261 }