
.just-terminal {
    flex: 1;
    display: flex;
    min-height: 0;
    width: 100%;
    /*height: 100%;*/
}

.xterm {
    flex: 1;
    width: 100%;
}
/*.xterm-viewport {*/
/*    font-family: 'Consolas', 'Courier New', monospace;*/
/*}*/